*{

}
div {
  margin-bottom: 100px;
}
.btn {
  font-size: 32px;
  padding: 19px 41px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.btn-default{
  color: #d800ff;
}
.btn-default:hover {
  color: #82029a;
}

.btn-square {
  background-color: #d82bfc;
}
.btn-square:hover {
  background-color: #82029a;
}

.btn-round {
  background-color: #d82bfc;
  border-radius: 20px;
}
.btn-round:hover {
  background-color: #82029a;
}

.btn-shadow {
  background-color: #d82bfc;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.btn-shadow:hover {
  background-color: #82029a;
  box-shadow: 0px 0px 0px;
}

.btn-reverse {
    border-radius: 20px;
background: linear-gradient(0deg, rgba(117,12,139,1) 0%, rgba(216,43,252,1) 100%);
  }
  .btn-reverse:hover {
background: linear-gradient(0deg, rgba(216,43,252,1) 0%, rgba(117,12,139,1) 100%);